<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="@icons/favicon.svg" type="image/svg+xml">
  <link rel="shortcut icon" href="@icons/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="@styles/index.scss">
  <script src="@scripts/index.js" defer></script>
  <title>Shelter</title>
</head>

<body>

  <h1>Shelter</h1>
  <!-- <img src="@images/start-screen-puppy.png" alt="Puppy"> -->

  {{> header }}




    <picture>
      <source srcset="../../assets/images/start-screen-puppy.png?as=avif" type="image/avif">
      <source srcset="../../assets/images/start-screen-puppy.png?as=webp" type="image/webp">
      <img src="../../assets/images/start-screen-puppy.png" width="" height="" alt="" loading="lazy">
    </picture>

</body>

</html>