<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="@icons/favicon.svg" type="image/svg+xml">
  <link rel="shortcut icon" href="@icons/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="@styles/index.scss">
  <script src="@scripts/index.js" defer></script>
  <title>Shelter</title>
</head>

<body>

  {{> header }}

  <main class="main">
    <section class="not-only">
      <div class="container">
        <div class="not-only__inner">
          <div class="not-only__info">
            <h1 class="not-only__title">Not only people need a house</h1>
          <p class="not-only__descr">We offer to give a chance to a little and nice puppy with an extremely wide and open heart. He or she will love you more than anybody else in the world, you will see!</p>
          <a href="" class="not-only__btn btn">Make a friend</a>
          </div>
          <div class="not-only__img-block">
            <picture>
            <source srcset="../../assets/images/start-screen-puppy.png?as=avif" type="image/avif">
            <source srcset="../../assets/images/start-screen-puppy.png?as=webp" type="image/webp">
            <img src="../../assets/images/start-screen-puppy.png" class="not-only__img"
            width="698" height="728" alt="Puppy">
            </picture>
          </div>
        </div>
      </div>
    </section>
  </main>





</body>

</html>