@use './variables' as *;

.footer {
  padding-top: 40px;
  background: url('../assets/images/noise_transparent@2x.png'),
    radial-gradient(
      237.5% 111.8% at 0% 0%,
      rgb(91, 72, 58) 0%,
      rgb(38, 36, 37) 100%
    );

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin-top: 16px;
    &-title {
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: $color-light-xl;
    }

    &-link {
      margin-top: 40px;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: $color-primary;

      display: flex;
      align-items: center;

      gap: 20px;
    }

    &-icon {
      align-self: center;
    }
  }

  &__item:first-child {
    max-width: 280px;
    width: 100%;
  }

  &__item:nth-child(2) {
    max-width: 320px;
    width: 100%;
  }

  &__item:nth-child(2) {
    .footer__item-link {
      margin-top: 33px;
    }
  }

  &__item:last-child {
    margin-top: 0;
    max-width: 300px;
    width: 100%;
  }

  @media (max-width: 1100px) {
    & {
      padding-top: 14px;
    }

    &__inner {
      gap: 64px 0px;
      max-width: 640px;
      flex-wrap: wrap;
      margin: 0 auto;
    }

    .footer__item:nth-child(2) {
      max-width: 302px;
    }

    &__item:last-child {
      max-width: 100%;
      width: 100%;
      flex-grow: 1;
    }

    &__item-img {
      display: block;
      margin: 0 auto;
    }
  }
}
