@use './variables' as *;

.our-friends {
  background: $color-light-l;
  &__title {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
  }

  &__wrapper {
    margin-top: 60px;
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    top: calc(50% - 26px);
    transform: translateY(-50%);
    display: flex;
  }

  .our-friends__control {
    svg {
      path {
        fill: $color-dark-3xl;
      }
    }
  }

  .our-friends__control--prev {
  }

  .our-friends__control--next {
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 990px;
    margin: 0 auto;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }

  @media (max-width: 1024px) {
    &__inner {
      gap: 40px;
      justify-content: center;
    }
    .our-friends__item:nth-child(3) {
      display: none;
    }
  }

  @media (max-width: 767px) {
    &__wrapper {
      padding-left: 0;
      padding-right: 0;
      margin-top: 40px;
    }

    &__inner {
      gap: 40px;
      justify-content: center;
    }

    .our-friends__item:nth-child(2) {
      display: none;
    }
  }

  @media (max-width: 480px) {
    &__controls {
      top: 100%;
      transform: translateY(20px);
      justify-content: center;
      gap: 80px;
    }

    &__title {
      max-width: 380px;
    }

    &__btn-wrapper {
      margin-top: 115px;
    }
  }
}
