@use '../../node_modules/normalize.css/normalize.css';
@use './fonts';
@use './variables' as *;
@use './common';
@use './header';
@use './not-only';
@use './about';
@use './our-friends';
@use './help';

body {
  font-size: 16px;
  font-family: $font-family;
  font-weight: 400;
}
